// OVERRIDE BULMA VARIABLES

$black: #383a42;
$white: #fafafa;
$red: #e45649;
$green: #50a14f;
$yellow: #c18401;
$cyan: #0997b3;
$blue: #0184bc;
$purple: #a626a4;

$family-primary: "Libre Baskerville", serif;
$family-monospace: "Fira Mono", monospace;

@import "../node_modules/bulma/bulma.sass";

// https://www.getzola.org/documentation/content/syntax-highlighting/#styling-codeblocks

pre {
    padding: 1rem;
    overflow: auto;
}

pre[data-linenos] {
    padding: 1rem 0;
}

pre table td {
    padding: 0;
}

pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}

pre mark {
    display: block;
    background-color: rgba(254, 252, 232, 0.9);
}

pre table {
    width: 100%;
    border-collapse: collapse;
}

// CUSTOM DEFINITIONS

.red {
    color: $red;
}

#version {
    font-family: $family-monospace;
}

.navbar {
    padding: 1rem 1.25rem;
}

a:hover {
    text-decoration: underline;
}
