// font import
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

// OVERRIDE BULMA VARIABLES

$black: #383a42;
$white: #fafafa;
$red: #e45649;
$green: #50a14f;
$yellow: #c18401;
$cyan: #0997b3;
$blue: #0184bc;
$purple: #a626a4;

$family-primary: "Public Sans", sans-serif;
$family-monospace: "Source Code Pro", monospace;

$code-background: $white;
$code-padding: 0;
$code-size: 1em;

$radius: 0;

@import "../node_modules/bulma/bulma.sass";

// https://www.getzola.org/documentation/content/syntax-highlighting/#styling-codeblocks

pre {
    padding: 1rem;
    overflow: auto;
}

pre[data-linenos] {
    padding: 1rem 0;
}

pre table td {
    padding: 0;
}

pre table td:nth-of-type(1) {
    text-align: center;
    user-select: none;
}

pre mark {
    display: block;
    background-color: rgba(254, 252, 232, 0.9);
}

pre table {
    width: 100%;
    border-collapse: collapse;
}

// CUSTOM DEFINITIONS

.red {
    color: $red;
}

.navbar {
    padding: 1rem 1.25rem;
}

.navbar-brand a {
    color: $black;
    &:hover {
        text-decoration: none;
    }
}

a:hover {
    text-decoration: underline;
}

.pagination a:hover {
    text-decoration: none;
}
