<div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="tile is-4 is-child">
        <figure class="image ml-0 mb-3">
            <img id="profile-pic" src="{{ get_url(path=profile) }}">
        </figure>
      </div>
      <div class="tile is-child">
        {{ body | markdown | safe }}
        <p>
            <em>
                {% if looking %}
                    I'm currently looking for job opportunities, so please feel free to reach out!
                {% else %}
                    I'm not currently looking for job opportunities, but still feel free to reach out!
                {% endif %}
            </em>
        </p>
        <ul class="fa-ul" style="list-style: none;">
            <li>
                <i class="icon fa-li fa-solid fa-location-dot"></i>
                Based in {{ config.extra.location }}
            </li>
            <li>
                <i class="icon fa-li fa-solid fa-briefcase"></i>
                {{ config.extra.job.title }} at <a href="{{ config.extra.job.link }}" target="_blank">{{ config.extra.job.company }}</a>
            </li>
            <li>
                <i class="icon fa-li fa-solid fa-graduation-cap"></i>
                {{ config.extra.education.degree }} at <a href="{{ config.extra.education.link }}" target="_blank">{{ config.extra.education.school }}</a>
            </li>
        </ul>
        <ul class="fa-ul" style="list-style: none;">
            <li>
                <i class="icon fa-li fa-solid fa-envelope"></i>
                <a href="mailto:{{ config.extra.email }}" target="_blank">{{ config.extra.email }}</a>
            </li>
            <li>
                <i class="icon fa-li fa-solid fa-file-lines"></i>
                <a href="{{ get_url(path=config.extra.resume) }}" target="_blank">{{ config.extra.resume }}</a>
            </li>
            <li>
                <i class="icon fa-li fa-brands fa-linkedin"></i>
                <a href="https://linkedin.com/in/{{ config.extra.linkedin }}" target="_blank">@{{ config.extra.linkedin }}</a>
            </li>
            <li>
                <i class="icon fa-li fa-brands fa-github"></i>
                <a href="https://github.com/{{ config.extra.github }}" target="_blank">@{{ config.extra.github }}</a>
            </li>
        </ul>
      </div>
    </div>
  </div>