<section>
    <p>
        I'm Robert Yin, a Software Developer at <a href="https://epic.com">Epic Systems</a>.
        Currently, my work is focused on helping pharmacies at large healthcare organizations manage their medication inventory and 340B drug savings.
        I'm not actively looking for other full-time opportunities, but you can find my resume <a href="{{ asset_url }}/resume.pdf">here</a>.
    </p>
    <p>
        Outside of work, my hobbies include cooking, film photography, and Brazilian jiu-jitsu. 
        <em>However, I am not available to cater your wedding, photograph your wedding, or beat up your new in-laws at your wedding.</em>
    </p>
</section>
<section>
    <h6>Contact Info</h6>
    <ul>
        <li>Email: <a href="mailto:bobertoyin@gmail.com">bobertoyin@gmail.com</a></li>
        <li>Github: <a href="https://github.com/bobertoyin">@bobertoyin</a></li>
        <li>LinkedIn: <a href="https://linkedin.com/in/boberto">@boberto</a></li>
    </ul>
</section>