<article>
    <section>
        <img id="home-profile-picture" src="{{ asset_url }}/robert.jpg" width="200" alt="Robert Yin">
    </section>
    <section>
        <hgroup>
            <h2>bob·ert·o</h2>
            <p><em>noun</em></p>
        </hgroup>
        <blockquote>
            A portmanteau of <a href="https://en.wiktionary.org/wiki/Bobert">Bobert</a> and <a href="https://en.wiktionary.org/wiki/Roberto">Roberto</a>.
        </blockquote>
        <blockquote>
            A software developer that builds things that are sometimes useful and sometimes fun.
        </blockquote>
        <p>
        </p>
    </section>
</article>