{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1 class="title">
      Page Not Found
    </h1>
    <hr>
    <div class="tile is-ancestor">
        <div class="tile is-parent">
          <div class="tile is-3 is-child">
            <figure class="image">
                <img id="profile-pic" src="{{ get_url(path='chorbus.png') }}">
            </figure>
          </div>
          <div class="tile is-child">
                Chorbus is displeased with your actions.
          </div>
        </div>
      </div>
</div>
{% endblock content %}