{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1>{{ section.title }}</h1>
  <hr>
  {{ section.content | safe }}
  {% for page in section.pages %}
    <div class="block">
      <div class="block">
        <h3 class="title">{{ page.title }}</h3>
      </div>
      <div class="block">
        <div class="field is-grouped is-grouped-multiline">
          <div class="control">
            <div class="tags has-addons has-text-weight-bold">
              <span class="tag is-success">Posted</span>
              <span class="tag">{{ page.date | date(format="%B %e, %Y") }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        {{ page.summary | safe }}
      </div>
      <div class="block">
        <a href="{{ page.permalink }}">Read more...</a>
      </div>
    </div>
    {% if not loop.last %}
    <hr>
    {% endif %}
  {% endfor %}
</div>
{% endblock content %}