{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1 class="title">
    {{ page.title }}
  </h1>
  <div class="block">
    <div class="field is-grouped is-grouped-multiline">
      <div class="control">
        <div class="tags has-addons has-text-weight-bold">
          <span class="tag is-dark">Posted</span>
          <span class="tag is-success">{{ page.date | date(format="%B %e, %Y") }}</span>
        </div>
      </div>
      {% if page.updated %}
      <div class="control">
        <div class="tags has-addons has-text-weight-bold">
          <span class="tag is-dark">Updated</span>
          <span class="tag is-warning">{{ page.updated | date(format="%B %e, %Y") }}</span>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <hr>
  {{ page.content | safe }}
</div>
<div>
  {% set section = get_section(path=page.ancestors[1]) %}
  <a href="{{ get_url(path=section.path) }}" class="return">&larr; {{ section.title }}</a>
</div>
{% endblock content %}