{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1>{{ section.title }}</h1>
  <hr>
  {{ section.content | safe }}
  {% for page in section.pages %}
    <div>
      <h3 class="title">{{ page.title }}</h3>
      <div class="tags smaller-tags-margin">
        {% for topic in page.taxonomies.topics %}
        <span class="tag">{{ topic }}</span>
        {% endfor %}
      </div>
      <span class="subtitle is-italic is-size-6">{{ page.summary | striptags }} <a href="{{ page.permalink }}">Read more...</a></span>
      <br><br>
    </div>
  {% endfor %}
</div>
{% endblock content %}