{% extends "base.html" %}

{% block content %}
<h1 class="title is-size-1 has-text-weight-bold red">
  {{ section.extra.name | safe }}
</h1>
<p class="subtitle is-size-4 is-italic blue">noun</p>
<p class="is-size-5 has-text-weight-semibold">{{ section.extra.synopsis | safe }}</p>
<hr>
<div class="content">
  {{ section.content | safe }}
  <h2>Random Quote &#128172;</h2>
  <blockquote id="random-quote"><p>...</p></blockquote>
  <script src="{{ get_url(path='js/random_quote.js') }}"></script>
</div>
{% endblock content %}