{% extends "base.html" %}

{% block title %}home{% endblock title %}

{% block content %}
<div class="content">
  <div class="columns">
    <div class="column">
      <figure class="image is-128x128 ml-0 mr-1 mt-2">
        <img id="profile-pic" src="/static/robert.jpg">
      </figure>
    </div>
    <div class="column is-11">
      <h1 class="title is-size-1 has-text-weight-bold">
        bob·ert·o
      </h1>
      <p class="subtitle is-size-4 is-italic">noun</p>
      <p class="is-size-5">A portmanteau of the nicknames <strong>Bobert</strong> and <strong>Roberto</strong>.</p>
    </div>
  </div>
</div>
{% endblock content %}