{% extends "base.html" %}

{% block content %}
<div class="content">
  <h1 class="title is-size-1 has-text-weight-bold">
    {{ section.extra.name | safe }}
  </h1>
  <p class="subtitle is-size-4 is-italic">noun</p>
  <p class="is-size-5">{{ section.extra.synopsis | safe }}</p>
  <hr>
  {{ section.content | safe }}
  <h2>Random Quote Generator</h2>
  <blockquote id="random-quote"><p>...</p></blockquote>
  <script src="{{ get_url(path='js/random_quote.js') }}"></script>
  <div class="buttons">
    <button class="button is-success is-outlined" onclick="generateRandomQuote()">
      <span class="icon-text">
        <span class="icon">
          <i class="fa-solid fa-rotate"></i>
        </span>
        <span>Refresh</span>
      </span>
    </button>
  </div>
</div>
{% endblock content %}