{% extends "simple.html" %}

{% block extra %}
<div class="tile is-ancestor is-vertical">
  {% set per_row = 3 %}
  {% for project in page.extra.projects %}
  {% if loop.index0 % per_row == 0 %}
  <div class="tile is-parent">
  {% endif %}
    <div class="tile is-parent is-4">
      <div class="tile is-child box">
        <h3 class="title is-size-5">{{ project.name }}</h3>
        <p class="subtitle is-italic is-size-6">{{ project.description | safe }}</p>
        <div class="buttons">
          <a class="button is-success" href="{{project.repository}}" target="_blank">Repository</a>
          {% if project.url %}
            <a class="button is-link" href="{{project.url}}" target="_blank">Site</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% if loop.index0 % per_row == (per_row - 1) %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock extra %}