{% extends "simple.html" %}

{% block extra %}
<div class="tile is-ancestor is-vertical">
  {% set per_row = 3 %}
  {% for project in page.extra.projects %}
  {% if loop.index0 % per_row == 0 %}
  <div class="tile is-parent">
  {% endif %}
    <div class="tile is-parent is-4">
      <div class="tile is-child box">
        <h3 class="title is-size-5">{{ project.name }}</h3>
        <p class="subtitle is-italic is-size-6">{{ project.description | safe }}</p>
        <div class="buttons">
          <a class="button is-success is-outlined" href="{{project.repository}}" target="_blank" rel="noopener">
            <span class="icon-text">
              <span class="icon">
                <i class="fa-brands fa-git-alt"></i>
              </span>
              <span>Repository</span>
            </span>
          </a>
          {% if project.url %}
            <a class="button is-danger is-outlined" href="{{project.url}}" target="_blank">
              <span class="icon-text">
                <span class="icon">
                  <i class="fa-solid fa-link"></i>
                </span>
                <span>Site</span>
              </span>
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% if loop.index0 % per_row == (per_row - 1) or loop.index == page.extra.projects | length %}
  </div>
  {% endif %}
  {% endfor %}
</div>
{% endblock extra %}