@charset "utf-8";

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-Italic.woff2") format("woff2");
    font-style: italic;
}

@font-face {
    font-family: "Public Sans";
    src: url("../fonts/PublicSans-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Berkeley Mono";
    src: url("../fonts/BerkeleyMono-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Berkeley Mono";
    src: url("../fonts/BerkeleyMono-Bold.woff2") format("woff2");
    font-weight: bold;
}

@font-face {
    font-family: "Berkeley Mono";
    src: url("../fonts/BerkeleyMono-Italic.woff2") format("woff2");
    font-style: italic;
}

@font-face {
    font-family: "Berkeley Mono";
    src: url("../fonts/BerkeleyMono-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
}

:root {
    --pico-font-family: "Public Sans", sans-serif;
    --pico-font-family-monospace: "Berkeley Mono", monospace;
    --pico-border-radius: 0;
}

[data-theme=light],
:root:not([data-theme=dark]),
:host(:not([data-theme=dark])) {
    --pico-background-color: var(--pico-color-sand-100);
    --pico-card-background-color: var(--pico-color-sand-150);
    --pico-code-background-color: var(--pico-color-sand-150);
    --pico-card-border-color: var(--pico-color-sand-200);
    --pico-blockquote-border-color: var(--pico-color-sand-200);
    --pico-table-border-color: var(--pico-color-sand-200);
    --pico-progress-color: var(--pico-color-blue-500);
    --pico-box-shadow: none;
}

html, body {
    height: 100vh;
}

body > footer {
    position: sticky;
    top: 100vh;
}

footer code {
    display: inline;
    background-color: transparent;
    padding: 0;
}

article > header {
    background-color: var(--pico-color-sand-200);
}

article > footer {
    background-color: var(--pico-color-sand-150);
}

hr {
    border: 1px solid var(--pico-color-sand-200);
}

section:has(#home-profile-picture) {
    width: fit-content;
    background-color: var(--pico-color-sand-300);
    overflow: hidden;
}

td a {
    cursor: pointer;
}

.book-cover {
    width: 200px;
    height: 300px;
    object-fit: contain;
}

#home-profile-picture {
    filter: grayscale();
    opacity: 0.75;
    object-fit: cover;
    transition: 0.2s;
    transition-timing-function: ease-in-out;
}

#home-profile-picture:hover {
    filter: none;
    opacity: 1;
}